@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Zen+Old+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400');

* {
  margin: 0;
}

body {
  font-family: 'Poppins';
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol'; */

  font-size: 16px;
  line-height: 1.5;
  background-color: #fffbeb;
  color: #422006;
}

h1 {
  font-family: 'Arimo';
  font-size: 3.5rem;
  font-weight: 400;
  height: 10rem;
  color: #422006;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./topography.svg);
  text-shadow: 3px 3px 0 #afaca2;
}

h2 {
  font-size: 2.5rem;
  font-weight: 200;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}

h1,
h2,
h3,
h4,
h5,
blockquote,
ul,
ol,
p {
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.intro {
  margin-bottom: 3rem;
}

.explanation,
.participation,
.benefits,
.requirements {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.requirements {
  margin-bottom: 3rem;
}

a {
  color: #0369a1;
  text-decoration: none;
}

h2::after {
  content: '';
  display: block;
  margin: auto;
  width: 450px;
  height: 300px;
  background: url('Arashiyama-Garden-1.png') no-repeat center center;
  background-size: contain;
  border-radius: 5px;
}

.summary p a {
  background-color: #713f12;
  color: #fffbeb;
  border-radius: 5px;
  text-decoration: none;
  width: 50px;
  text-align: center;
  padding: 0.5rem;
}

.summary p a:hover {
  background-color: #422006;
}

.preamble h3,
.preamble p {
  text-align: right;
}

.preamble h3::after {
  content: '';
  display: block;
  margin: auto;
  width: 450px;
  height: 300px;
  background: url('Kumano-Kodo-Trail-Trees.png') no-repeat center
    center;
  background-size: contain;
  border-radius: 5px;
}

.explanation h3::after {
  content: '';
  display: block;
  margin: auto;
  width: 450px;
  height: 300px;
  background: url('Arashiyama-Garden-2.png') no-repeat center center;
  background-size: contain;
  border-radius: 5px;
}

.participation h3,
.participation p {
  text-align: right;
}

.participation h3::after {
  content: '';
  display: block;
  margin: auto;
  width: 450px;
  height: 300px;
  background: url('Kumano-Kodo-Hongu-Taisha-2.png') no-repeat center
    center;
  background-size: contain;
  border-radius: 5px;
}

.benefits h3::after {
  content: '';
  display: block;
  margin: auto;
  width: 450px;
  height: 300px;
  background: url('Kumano-Kodo-Naichi-Taisha-6.png') no-repeat center
    center;
  background-size: contain;
  border-radius: 5px;
}

.requirements h3,
.requirements p {
  text-align: right;
}

.requirements h3::after {
  content: '';
  display: block;
  margin: auto;
  width: 450px;
  height: 300px;
  background: url('Kumano-Kodo-Trail-Maple.png') no-repeat center
    center;
  background-size: contain;
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

footer a {
  background-color: #713f12;
  color: #fffbeb;
  border-radius: 5px;
  text-decoration: none;
  width: 50px;
  text-align: center;
  padding: 0.5rem;
}

footer a:hover {
  background-color: #422006;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.wrapper div:nth-child(1),
.wrapper div:nth-child(2) {
  border-right: 1px solid #422006;
}

.wrapper h3 {
  text-align: center;
  font-weight: 200;
}

@media (max-width: 600px) {
  .wrapper {
    display: block;
  }
  .wrapper div:nth-child(1),
  .wrapper div:nth-child(2) {
    border-right: 0px;
  }
}

abbr {
  text-decoration-style: wavy;
  text-decoration-thickness: 0.05rem;
  text-decoration-color: #15803c74;
}

.designer-name {
  font-family: 'Tangerine';
  font-size: 1.5rem;
}
